<!DOCTYPE html>
<html>
    <head>
        <title>Main Page</title>
    </head>
    <body>
        <div class="page_wrap">
            <div class="title">
                <%= link_to home_index_path, :class => 'link' do %>
                    <%= image_tag('manchester_united_logo.png', :class => "logo") %>
                    <h1>
                        Manchester United FC
                    </h1>
                <% end %>
            </div>
            <div class='toolbar'>
                <%= link_to about_index_path do %> About<% end %>
                <%= link_to manager_index_path do %> Manager<% end %>
                <%= link_to squad_index_path do %> Squad<% end %>
                <%= link_to recent_index_path do %> Recent<% end %>
                <%= link_to trophies_index_path do %> Trophies<% end %>
                <%= link_to photos_index_path do %> Photos<% end %>
                <%= link_to discussions_path do %> Discussions<% end %>
            </div>
            <div class='current'>
                <%= link_to manager_index_path do %> >Manager <% end %>
            </div>
            <hr/>
            <!-- 여기부터 고유 내용  -->
            <div id="profile">
                <h2> "동안의 암살자" 올레 군나르 솔샤르 </h2>
                <table>
                    <tbody>
                        <tr>
                            <td class="axis" width="80"> Birth </td>
                            <td> Kristiansund, Norway </td>
                        </tr>
                        <tr>
                            <td class="axis"> Height </td>
                            <td> 1.78 m (5 ft 10 in) </td>
                        </tr>
                        <tr>
                            <td class="axis"> Position </td>
                            <td> Forward </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="contents">
                <p>
                    노르웨이 출신 축구선수이자 현 맨체스터 유나이티드의 감독<br>
                    전임자인 조제 무리뉴 감독이 성적 부진으로 경질되자 맨유 사령탑에 부임했다.<br><br>
                </p>
                <div id='supersub'>
                    <h3> "Super Sub"</h3>
                    <p>
                        그는 벤치 멤버로 시작해 절체절명의 순간에 극적으로 팀을 구해내는 장면들로 많은 이들의 탄성을 자아냈다.
                        당시 감독이었던 알렉스 퍼거슨은 솔샤르에게 <br>벤치에 앉아 경기의 흐름을 분석하고 기회를 포착해내는
                        천부적인 재능이 있었다고 이야기했다.
                    </p>
                    <p>
                        본인의 별명에 대해 스스로는 아래와 같이 말하기도 했다:<br><br>
                        &nbsp;&nbsp;&nbsp;<em>"I had to think about myself, how can I do the most damage for the opposition if I come on?
                        I sat there and I studied football games but I didn't analyse their strikers.<br> &nbsp;&nbsp;&nbsp;[...]
                        Instead I would pay attention to what the defenders and full-backs were doing wrong."</em>
                    </p>
                    <p>
                        &nbsp;&nbsp;&nbsp;<em>"저는 제가 필드에 투입된다면 어떻게 가장 효과적으로 상대를 위협할 수 있을까 고민해야했습니다.
                        벤치에 앉아 축구를 보면서 전 그들의 공격을 보지 않았죠.<br> &nbsp;&nbsp;&nbsp;[...]
                        대신 저는 수비수들의 움직임을 보면서 그들의 허점이 무엇인지를 관찰했습니다."</em>
                    </p>
                    <p>
                        그는 바르셀로나 캄프 누에서 열린 1999년 UEFA Champions League 결승전 경기에서 바이에른 뮌헨을 상대로 축구 역사상
                        <strong><a href="https://ko.wikipedia.org/wiki/1999_UEFA_%EC%B1%94%ED%94%BC%EC%96%B8%EC%8A%A4%EB%A6%AC%EA%B7%B8_%EA%B2%B0%EC%8A%B9%EC%A0%84" style="text-decoration:none" target="_blank">
                            가장 유명한 결승골</a></strong>을 넣었다.
                        <br>그의 결승골 덕분에 맨유는 창단 최초로 유럽 대륙 트레블(리그우승, FA컵 우승, 챔피언스리그 우승)의 쾌거를 이루게 된다.
                    </p>
                </div>
                <br>
                <div id="20legend">
                    <h3> "2<span style="color:#DA291C">0 LE</span>GEND" </h3>
                    <p>
                        그는 2003년부터 4년동안 여러 차례 무릎 부상으로 고생했다. 2006년 그가 회복해서 돌아왔을 때, 실전 감각 떨어진 32살 공격수를 위한 기회는
                        많지 않았다.<br>
                        하지만 그가 남긴 강렬한 임팩트와 훌량한 매너 덕분에 그는 맨유의 서포터들로부터 열렬한 지지를 받았고, 향수에 젖어 그의 출전을 바라는
                        이들이 많았다.<br>
                        그의 이름과 등번호를 본딴 [20 LEGEND] 응원 배너는 자주 올드 트라포드 관중석 한쪽을 장식했다.
                    </p>
                </div>
                <br>
                <div id="career">
                    <h2> 커리어 </h2>
                    <table>
                        <thead>
                            <tr>
                                <th width="220" class='left'>기간</th>
                                <th width="220">소속팀</th>
                                <th width="220">기록</th>
                                <th width="320">수상</th>
                            </tr>
                        <tbody style="text-align:center">
                            <tr>
                                <td class='left'>1990-1994</td>
                                <td>Clausenengen</td>
                                <td>115 goals / 109 games</td>
                                <td>division promotion(1993)</td>
                            </tr>
                            <tr>
                                <td class='left'>1995-1996</td>
                                <td>Molde</td>
                                <td>41 goals / 54 games</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class='left'>1996-2008</td>
                                <td>Manchester United</td>
                                <td>91 goals / 235 games</td>
                                <td>League Champion(97,99,00,01,03,07,08)<br>
                                    Champions League(<strong>*99</strong>,08)<br>
                                    FA Cup(99,04)<br>
                                    League Cup(06)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div id="quotes">
                    <h3> Quotes </h3>
                    <ul type="square">
                        <li><em> "He was a marvellous finisher, one of the best I have known."</em> -Alex Ferguson</li>
                        <br>
                        <li><em> "Ole is a lovely guy and, whenever I’m asked about him, I’ve never had a bad word to say.
                            He came into the football club and we didn’t know who he was but, <br>by the time he left,
                            everyone in football knew him."</em> -Andy Cole</li>
                        <br>
                        <li><em> "I don’t think any other player of that quality would have stood for it, but Ole
                            never complained. He had that fantastic patience."</em> -Alex Ferguson</li>
                        <br>
                        <li><em> "There are no good saves. There are only weak shots."</em> -Ole Solskjaer</li>
                        <br>
                        <li><em> "When people doubt me, I love it."</em> -Ole Solskjaer</li>
                    </ul>
                <hr/>
                </div>
                <%= link_to "[잘못된 내용 신고하기]", new_complaint_path %>
            </div>
        </div>
    </body>
</html>
