<!DOCTYPE html>
<html>
    <head>
        <title>Main Page</title>
    </head>
    <body>
        <div class="page_wrap">
            <div class="title">
                <%= link_to home_index_path, :class => 'link' do %>
                    <%= image_tag('manchester_united_logo.png', :class => "logo") %>
                    <h1>
                        Manchester United FC
                    </h1>
                <% end %>
            </div>
            <div class='toolbar'>
                <%= link_to about_index_path do %> About<% end %>
                <%= link_to manager_index_path do %> Manager<% end %>
                <%= link_to squad_index_path do %> Squad<% end %>
                <%= link_to recent_index_path do %> Recent<% end %>
                <%= link_to trophies_index_path do %> Trophies<% end %>
                <%= link_to photos_index_path do %> Photos<% end %>
                <%= link_to discussions_path do %> Discussions<% end %>
            </div>
            
            <div id="discussion_show">
                <table id="discussion_show_table">
                    <tbody>
                        <tr>
                            <td class="author_cell"><strong>Author:   </strong><%= @discussion.author %></td>
                            <td class="created_at_cell"><strong>Created at:   </strong><%=@discussion.created_at.to_date %></td>
                        </tr>
                        <tr>
                            <td colspan=2, id="discussion_body"><%= @discussion.body %></td>
                        </tr>
                        <tr>
                            <td><%= link_to "Back", discussions_path %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>