<!DOCTYPE html>
<html>
    <head>
        <title>Main Page</title>
    </head>
    <body>
        <div class="page_wrap">
            <div class="title">
                <%= link_to home_index_path, :class => 'link' do %>
                    <%= image_tag('manchester_united_logo.png', :class => "logo") %>
                    <h1>
                        Manchester United FC
                    </h1>
                <% end %>
            </div>
            <div class='toolbar'>
                <%= link_to about_index_path do %> About<% end %>
                <%= link_to manager_index_path do %> Manager<% end %>
                <%= link_to squad_index_path do %> Squad<% end %>
                <%= link_to recent_index_path do %> Recent<% end %>
                <%= link_to trophies_index_path do %> Trophies<% end %>
                <%= link_to photos_index_path do %> Photos<% end %>
                <%= link_to discussions_path do %> Discussions<% end %>
            </div>
            <div class="notice">
                <p>
                    잘못 기재된 정보를 제보해주세요. 신속히 검토 후 수정하도록 하겠습니다! <br>
                    여러분들의 참여가 더 나은 서비스를 만듭니다.^^
                </p>
            </div>
            <div class="complaint_form">
                <%= render "form" %>
                <%= link_to "Back", about_index_path, :class => "link", :id => "back" %>
            </div>
        </div>
    </body>
</html>